<!DOCTYPE html>
<html>
  <head>
    <title>Dockerfile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="layout"></div>
    <%= yield %>
    <%= javascript_pack_tag 'dockerails' %>
  </body>
</html>
